<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('partials/header'); %>
    <div class="container mt-5">
        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/main/dashboard"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>
        </nav>
        <hr>
        <a href="/adm/data/publikasi" class="btn btn-secondary btn-sm">Kembali</a>

        <h2 class="mb-4 mt-2 text-center">Edit Publikasi</h2>
        <form id="publikasiForm" class="row g-3 mb-5" action="/adm/data/update_publikasi/<%= publikasiEdit._id %>" method="POST" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="judul_publikasi" class="form-label">Judul Publikasi</label>
                <input type="text" class="form-control" id="judul_publikasi" name="judul_publikasi" value="<%= publikasiEdit.judul_publikasi %>" >
            </div>

            <div class="col-md-6">
                <label for="update_tanggal_kegiatan" class="form-label">Tanggal Publikasi</label>
                <div class="input-group">
                    <input type="hidden" class="form-control" name="tanggal_publikasi_old" value="<%= publikasiEdit.tanggal_publikasi %>" readonly>
                    <input type="text" class="form-control" id="update_tanggal_kegiatan_text" value="<%= new Date(publikasiEdit.tanggal_publikasi).toLocaleString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %>" readonly>
                    <input type="date" class="form-control d-none" name="tanggal_publikasi_new" id="update_tanggal_kegiatan_date">
                    <button type="button" class="btn btn-secondary" id="ubah_tanggal_button">Ubah Tanggal</button>
                    <button type="button" class="btn btn-secondary d-none" id="batal_ubah_tanggal_button">Batal Ubah</button>
                </div>
            </div>

            <div class="col-12">
                <label for="deskripsi_publikasi" class="form-label">Deskripsi Publikasi</label>
                <textarea class="form-control" id="deskripsi_publikasi" name="deskripsi_publikasi" rows="3"><%= publikasiEdit.deskripsi_publikasi %></textarea>
            </div>

            <div class="col-4">
                <label for="berkas_publikasi_pdf" class="form-label">Berkas Publikasi (PDF)</label>
                <input class="form-control" type="text" value="/<%= publikasiEdit.berkas_publikasi_pdf %>" readonly>
                <a href="/<%= publikasiEdit.berkas_publikasi_pdf %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                <input class="form-control mt-2" type="file" id="newBerkasPdf" name="newBerkasPdf">
            </div>

            <div class="col-4">
                <label for="berkas_publikasi_excel" class="form-label">Berkas Publikasi (Excel)</label>
                <input class="form-control" type="text" value="/<%= publikasiEdit.berkas_publikasi_excel %>" readonly>
                <a href="/<%= publikasiEdit.berkas_publikasi_excel %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                <input class="form-control mt-2" type="file" id="newBerkasExcel" name="newBerkasExcel">
            </div>
            
            <div class="col-4">
                <label for="berkas_publikasi_docx" class="form-label">Berkas Publikasi (Docx)</label>
                <input class="form-control" type="text" value="/<%= publikasiEdit.berkas_publikasi_doc %>" readonly>
                <a href="/<%= publikasiEdit.berkas_publikasi_doc %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                <input class="form-control mt-2" type="file" id="newBerkasDoc" name="newBerkasDoc">
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary">Update Data</button>
            </div>
        </form>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Notifikasi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Publikasi berhasil ditambahkan!
                </div>
                <div class="modal-footer">
                    <a href="/adm/data/publikasi" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById('ubah_tanggal_button').addEventListener('click', () => {
            document.getElementById('update_tanggal_kegiatan_text').classList.add('d-none');
            document.getElementById('update_tanggal_kegiatan_date').classList.remove('d-none');
            document.getElementById('ubah_tanggal_button').classList.add('d-none');
            document.getElementById('batal_ubah_tanggal_button').classList.remove('d-none');
        });
    
        document.getElementById('batal_ubah_tanggal_button').addEventListener('click', () => {
            document.getElementById('update_tanggal_kegiatan_text').classList.remove('d-none');
            document.getElementById('update_tanggal_kegiatan_date').classList.add('d-none');
            document.getElementById('ubah_tanggal_button').classList.remove('d-none');
            document.getElementById('batal_ubah_tanggal_button').classList.add('d-none');
        });
    </script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
</body>
</html>
